.heroe {
    height: 50%;
}

.heroe:after {
    content: '';
    display: block;
    padding-bottom: 35%;
    position: absolute;
    left: 0;
    bottom: -2rem;
    border-radius: 50%;
    right: 0;
    z-index: -1;
    mix-blend-mode: overlay;
}

.heroe {
    display: flex;
    height: 100%;
    width: 100%;
}




.heroe_stats {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    gap: 0.5rem;
    transform: translate(0, -65px) skewY(354deg);

}

.heroe_img {
    position: absolute;
    left: 0;
    bottom: 0;
}

.effect {
    position: absolute;
    right: -3rem;
    transform: skewY(10deg) rotate3d(1, 1, 1, 360deg);
    z-index: -1;
}

.heroe_action {
    padding: 1rem;
    background: #00BCD4;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.heroe_stats--hp, .heroe_stats--ap {
    padding: 1rem;
    background: #00BCD4;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.heroe_actions {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
}

.heroe_action {
    flex: 0 0 50%;
}

.heroe_action:hover {
    cursor: pointer;
    background: #fab34f;
}

.heroe_action--icon {
    transform: scale(1.5);
    margin-left: 16px;
}



.zone {
    position: absolute;
}

