.screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.scenario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    position: relative;
    height: 100%;
}

.scenario_scene {
    position: absolute;
    z-index: -1;
}

.scene--top {
    top: 0;
    background: radial-gradient(#00000085, transparent);

}

.scene--bottom {
    bottom:0;
}

.zone {
    position: absolute;
}
