.screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.scenario {
    display: flex;
    width: 50vw;
    height: 100vh;
    background: #ff00e6;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}


.zone {
    position: absolute;
}
