.screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;

}

.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.scenario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    height: 100%;
}

.scenario_scene {
    position: absolute;
    z-index: -1;
}

.scene--top {
    top: 0;
    background: radial-gradient(#00000085, transparent);

}

.scene--bottom {
    bottom:0;
}

.zone {
    position: absolute;
}
